DATABASE_URL='mongodb://'
PAYLOAD_SECRET= # openssl rand -hex 32

NEXT_PUBLIC_SERVER_URL=http://localhost:3000

SMTP_HOST=email-smtp.ap-southeast-1.amazonaws.com
SMTP_USER=
SMTP_PASS=''
SMTP_FROM_ADDRESS=
